@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h2 {
  @apply text-h2;
}

h3 {
  @apply text-h3;
}

p {
  @apply text-p;
}

button {
  @apply text-button;
}

a {
  @apply text-a;
}
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(12, 84, 136, 0.324);
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(4, 18, 28, 0.826);
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #4c5288c3; /* Change the background color of the thumb */
  border-radius: 5px;
  transition: 1s; /* Round the edges of the thumb */
}
